<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1 th:text="${title}"/>

<p th:text="${totalCount}"></p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Distance (km)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route: ${routes}">
        <td><a th:href="@{/api/route/{routeId}/gpx(routeId=${route.id})}" th:text="${route.name}">My Route</a></td>
        <td th:text="${route.sport}">Sport</td>
        <td th:text="${#numbers.formatDecimal(route.distance / 1000, 1, 2)}">200.34 km</td>
    </tr>
    </tbody>
</table>

</body>

</html>